.portfolio-header {
    font-family: typeface-muli;
    margin-left: 10px;
    margin-top: 255px;
    margin-bottom: 150px;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
  }
body {
    margin-bottom: 150px; /* Margin bottom by footer height */
  }
