.about-card {
    border: none;
    margin-bottom: 20px;
}

.about-title{
    font-family: typeface-muli;
    font-size: 300%;
    text-align: center;
}

.about-text {
    font-family: typeface-muli;
    font-size: 150%;
    line-height: 200%;
    margin-left: 30px;
    margin-right: 30px;
}