.contact-card {
    margin-top: 250px;
}

.contact-list {
    font-size: x-large;
}

.btn-contact-submit {
    width: 100%;
    margin-bottom: 20px;
}

.error-text,
.success-text,
.contact-form {
    font-family: typeface-muli;
}

.error-text,
.success-text {
    font-style: italic;
}

html {
    position: relative;
    min-height: 100%;
  }
body {
    margin-bottom: 100px; /* Margin bottom by footer height */
  }
