.text-dark h1 {
    text-shadow: 2px 2px 2px darkgray;
    font-family: typeface-muli;
    font-size: 300%;
}

.text-dark h4 {
    text-shadow: 2px 2px 2px darkgray;
    font-family: typeface-muli;
    font-size: 200%;
}

.text-dark p {
    text-shadow: 2px 2px 2px darkgray;
    font-family: typeface-muli;
    font-size: 150%;
    margin-left: 25%;
    margin-right: 25%;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    margin-top: -20px;
}
